html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

table.app {
    table-layout: fixed;
    border-collapse: separate;
}

table.app > tbody > tr > td {
    padding: 0px;
}

.layout-scroll {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 10px;
}
